doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css' integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We' crossorigin='anonymous')
  title Productos
div.container.mx-auto.mt-5
    div.d-flex.justify-content-between.py-8.m-5
      h2.font-semibold.leading-tight Productos
      a.btn.btn-primary.btn-md.mx-4.w-25t(href="/") Agregar Producto
    table.table.table-bordered
      thead
        tr
          th
            | Id°
          th
            | Nombre
          th
            | Precio
          th
            | Imagen
      tbody
        if products
            each product in products
                tr
                    td= product.id
                    td= product.title
                    td= product.price
                    td
                        img(src= product.url alt=product.title height='100' width='100')
        else
            tr
                td.text-center.p-20(colspan='4')
                    p.mb-8 No hay productos para mostrar